@model BTL_VTJob.Models.BaiTuyenDung

@{
    ViewData["Title"] = "CreateBaiTuyenDung";
}
<div class="container">

    <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
                <div>
                    <h2>Post Job</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-block btn-primary btn-md">Save Job</a>
                </div>
            </div>
        </div>
    </div>
    <form class="p-4 p-md-5 border rounded" asp-action="CreateBaiTuyenDung">

    <div class="row mb-5">
        
        <div class="col-lg-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MaBai" class="control-label"></label>
                    <input asp-for="MaBai" class="form-control" />
                    <span asp-validation-for="MaBai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TieuDe" class="control-label"></label>
                    <input asp-for="TieuDe" class="form-control" />
                    <span asp-validation-for="TieuDe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoLuongTuyen" class="control-label"></label>
                    <input asp-for="SoLuongTuyen" class="form-control" />
                    <span asp-validation-for="SoLuongTuyen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MucLuong" class="control-label"></label>
                    <input asp-for="MucLuong" class="form-control" />
                    <span asp-validation-for="MucLuong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MoTaCV" class="control-label"></label>
                    <textarea asp-for="MoTaCV" class="form-control" ></textarea>
                    <span asp-validation-for="MoTaCV" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YeuCau" class="control-label"></label>
                    <textarea asp-for="YeuCau" class="form-control" ></textarea>
                    <span asp-validation-for="YeuCau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuyenLoi" class="control-label"></label>
                    <textarea asp-for="QuyenLoi" class="form-control" ></textarea>
                    <span asp-validation-for="QuyenLoi" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HanNopCV" class="control-label"></label>
                    <input asp-for="HanNopCV" class="form-control" />
                    <span asp-validation-for="HanNopCV" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdLoaiJob" class="control-label"></label>
                    <select asp-for="IdLoaiJob" class="form-control"></select>
                </div>
             @*   <div class="form-group align-items-right m-2">

                    <input type="submit" value="Tạo bài viết" class="btn btn-block btn-primary justify-content-end btn-md" />
                </div>*@
                <div class="form-group">
                    <label for="job-description">Job Description</label>
                    <div class="editor" id="editor-1">
                        <p>Write Job Description!</p>
                    </div>
                </div>
            
        </div>
      
    </div>
    <div class="row align-items-center mb-5">

        <div class="col-lg-4 ml-auto">
            <div class="row">
                <div class="col-6">
                    <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
                </div>
                <div class="col-6">
                        <input type="submit" value="Tạo bài viết" class="btn btn-block btn-primary btn-md" />
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<div>
    <a asp-action="GetList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/quill.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/isotope.pkgd.min.js"></script>
<script src="~/js/stickyfill.min.js"></script>
<script src="~/js/jquery.fancybox.min.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>

<script>
    var listNameJob = null;
    var dropdown = $('#IdLoaiJob');
    $(document).ready(function () {
        
        $.ajax({
            url: '/BaiTuyenDung/GetDSLoaiJob',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                listNameJob = response;
                console.log(response)
                // Đổ dữ liệu vào dropdownlist
                $.each(response, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.tenLoaiJob));
                });
            }
        });

       
    })
    var editor = $('#editor-1')
    console.log(editor)

</script>